{name, "itweet"}.
{description, "Twitter Stream API on ibrowse"}.
{homepage, "http://elbrujohalcon.github.com/itweet/"}.
{url, {git, "https://github.com/elbrujohalcon/itweet.git", {branch, "master"}}}.
{authors, ["Fernando Benavides <fernando.benavides@inakanetworks.com>"]}.
{license, "Apache License 2.0", "LICENSE"}.
{requires, ["ibrowse"]}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
